.logo{
    text-align: center;
    padding: 1.2rem .5rem;

}
.logo img{
    width: 200px;
}
.mat-icon{
     text-align: center;
     margin-right: 1rem;
}
.mat-divider{
    border-top-width: 2px;
    border-color: #fff;
}
.mat-list-item{
    color: #94a3b8;
    font-size: .8rem;
    height: 44px;
    margin-bottom: 4px;
    text-decoration: none;

}

.mat-list-item::ng-deep .mat-list-item-content{
    border-radius: 5px;
    margin: 0 8px;
}
.mat-list-item::ng-deep .mat-list-item-content:hover{
    background: #2c3342;
}
.list-item-active{
    color: #f2f5f7;
}
.list-item-active::ng-deep .mat-list-item-content{
    background: #2c3342;
}
.list-item-active::ng-deep .mat-list-item-content:hover{
    background: #2c3342;
}
.mat-subheader{
    color: #ffffff;
    font-size: .6rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}