<mat-list>
    <div class="logo">
        <img src="../../assets/images/revenue_department.png" alt="test logo">
    </div>
    <mat-divider></mat-divider>
    <div matSubheader>Applications</div>
    
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon aria-hidden="false" >home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon aria-hidden="false" >dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>edit
    </a>
    
  </mat-list>
  