<div class="container-fluid page">
    <div class="page-box p-4 mt-2">Dashboard</div>
    <div class="page-content shadow p-3 position-relative">
        <div class="page-content-data position-absolute">
           <div class="row">
               <div class="col-md-4">
                <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>
                <!-- <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [dataLabels]="chartOptions.dataLabels"
                      [grid]="chartOptions.grid"
                      [stroke]="chartOptions.stroke"
                      [title]="chartOptions.title"
                    ></apx-chart>
                  </div> -->
                  
               </div>
           </div>
        </div>
    </div>
</div>